<div class="navbar-desktop">
    <app-navbar></app-navbar>
</div>
<div class="hamburger-dropdown">
    <app-hamburger-dropdown></app-hamburger-dropdown>
</div>

<div id="content-container">
    <h1 id="about-header">About</h1>
    <div id="about-container">
        <p class="about-text">Thank you for visiting my portfolio website!</p>
        <p class="about-text">
            I created this portfolio using Angular. It is meant to serve as a central location to view my qualifications and projects.
            The applications created and deployed within this portfolio are solely intended for educational and personal development purposes. 
            They are not designed or utilized for generating revenue or serving any commercial interests. Their primary objective is to serve as 
            practical implementations to enhance my web development skills and demonstrate proficiency in various concepts and techniques.
        </p>
    </div>
    <div id="contact-container">
        <h2 id="contact-header">Contact</h2>
        <a id="email-text" href="mailto:nickhoefle@gmail.com">nickhoefle@gmail.com</a>
    </div>
</div>
