<nav class="navbar">
    <ul>
        <li class="navbar-title-link-li"><a class="navbar-title-link" href="/">nickhoefle.com</a></li>
    </ul>
    <ul class="navbar-list">
        <li><a class="navbar-link" href="/">Home</a></li>        
        <li><a class="navbar-link" href="/projects">Projects</a></li>
        <li><a class="navbar-link" href="/resume">Resume</a></li>
        <li><a class="navbar-link" href="/about">About</a></li>
        <li>
            <a href="https://www.linkedin.com/in/nick-hoefle-0468b5101/">
                <img src="../../assets/images/images.png" height="22px" style="margin-top:2px; margin-left:20px" />
            </a>
        </li>
    
        <li>
            <a href="https://github.com/nickhoefle">
                <img src="../../assets/images/github-mark-white.png" height="26px" style="margin-left:12px" />
            </a>
        </li>
    </ul>

</nav>