<div class="navbar-desktop">
    <app-navbar></app-navbar>
</div>
<div class="hamburger-dropdown">
    <app-hamburger-dropdown></app-hamburger-dropdown>
</div>

<h1 id="projects-header">Projects</h1>

<div class="project-component">
    <app-freezeout></app-freezeout>
</div>

<div class="project-component">
    <app-mls-app></app-mls-app>
</div>

<div class="project-component">
    <app-media-mosaic></app-media-mosaic>
</div>

<div class="project-component">
    <app-cc-component></app-cc-component>
</div>

<div class="project-component">
    <app-cooking></app-cooking>
</div>

<div class="project-component">
    <app-ozarks></app-ozarks>
</div>

<router-outlet></router-outlet>