.project-component {
    padding-top: 50px;
    padding-bottom: 50px;
}


@media only screen and (max-width: 480px) {
    .navbar-desktop {
        display: none;
    }

    .divider {
        display: none;
    }
  }