<a class="project-info" href="https://www.nickhoefle.com/media-mosaic">MediaMosaic</a>

<div class="tech-icon-container">
    <img class="tech-icon" src="../../assets/images/react.png">
    <img class="tech-icon" src="../../assets/images/firebase.png">
</div>

<div class="description-container">
    <p>Create a personalized news feed from 36 (and counting!) news outlets. MediaMosaic implements Google's Firebase for authentication and back-end services. 
        Create an account with email, or log in with your Google account, pick your trusted news sources, select the amount of articles rendered per source, and 
        you're set. When fresh articles are pushed to the XML feeds of your chosen press agencies, your feed is updated.
    </p>
</div>

<div class="slideshow-wrapper">
    <div class="slideshow-container" id="mediaMosaicSlides">
        <div class="mySlides fade">
            <a href="/../../assets/media-mosaic/logged-out-homepage.png">
                <img class="project-image desktop-image" src="/../../assets/media-mosaic/logged-out-homepage.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/media-mosaic/homepage-mobile.png">
                    <img class="project-image mobile-image" src="../../assets/media-mosaic/homepage-mobile.png" />
                </a>
            </div>
        </div>
        
        <div class="mySlides fade">
            <a href="../../assets/media-mosaic/logged-in-homepage.png">
                <img class="desktop-image" src="../../assets/media-mosaic/logged-in-homepage.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/media-mosaic/dropdown-mobile.png">
                    <img class="mobile-image" src="../../assets/media-mosaic/dropdown-mobile.png" />
                </a>
            </div>
        </div>
        
        <div class="mySlides fade">
            <a href="../../assets/media-mosaic/sign-in.png">
                <img class="desktop-image" src="../../assets/media-mosaic/sign-in.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/media-mosaic/sign-in-mobile.png">
                    <img class="mobile-image" src="../../assets/media-mosaic/sign-in-mobile.png" />
                </a>
            </div>
        </div>

        <div class="mySlides fade">
            <a href="../../assets/media-mosaic/register.png">
                <img class="desktop-image" src="../../assets/media-mosaic/register.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/media-mosaic/register-mobile.png">
                    <img class="mobile-image" src="../../assets/media-mosaic/register-mobile.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="arrows">
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
</div>
