<a class="project-info" href="https://nickhoefle.com/blog">Food and Cooking Blog</a>

<div class="tech-icon-container">
    <img class="tech-icon" src="../../assets/images/nextjs.png">
    <img class="tech-icon" src="../../assets/images/tailwindcss.png" alt="tailwind css">
</div>

<div class="description-container">
    <p>Cooking has been a passion of mine for as long as I can remember. I designed this blog to memorialize recipes and dishes, retain notes, and share 
        culinary undertakings. Features include cards for and routing to individual recipes, recent post/similar post sidebars, categories, and commenting.
        All of this is made possible with GraphQL integration via graphcms.   
    </p>
</div>

<div class="slideshow-wrapper">
    <div class="slideshow-container" id="cookingSlides">
        <div class="cookingSlide fade">
            <a href="../../assets/cooking/top-homepage.png">
                <img class="desktop-image" src="../../assets/cooking/top-homepage.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/cooking/homepage-mobile.png">
                    <img class="mobile-image" src="../../assets/cooking/homepage-mobile.png" />
                </a>
            </div>
        </div>
        
        <div class="cookingSlide fade">
            <a href="../../assets/cooking/related-posts-lg.png">
                <img class="desktop-image" src="../../assets/cooking/related-posts-lg.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/cooking/post-detail-mobile.png">
                    <img class="mobile-image" src="../../assets/cooking/post-detail-mobile.png" />
                </a>
            </div>
        </div>
        
        <div class="cookingSlide fade">
            <a href="../../assets/cooking/sidebars.png">
                <img class="desktop-image" src="../../assets/cooking/sidebars.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/cooking/related-categories-mobile.png">
                    <img class="mobile-image" src="../../assets/cooking/related-categories-mobile.png" />
                </a>
            </div>
        </div>

        <div class="cookingSlide fade">
            <a href="../../assets/cooking/comments.png">
                <img class="desktop-image" src="../../assets/cooking/comments.png">
            </a>
            <div class="mobile-image-container">
                <a class="mobile-link" href="../../assets/cooking/comments-mobile.png">
                    <img class="mobile-image" src="../../assets/cooking/comments-mobile.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="arrows">
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
</div>
