<a class="project-info">Collector's Corner</a>

<div class="tech-icon-container">     
    <img class="tech-icon" src="../../assets/images/tmdb.svg"> 
    <img class="tech-icon" src="../../assets/images/java.png">
    <img class="tech-icon" src="../../assets/images/sb.png">
    <img class="tech-icon" src="../../assets/images/html.png">
    <img class="tech-icon" src="../../assets/images/bootstrap.png">
    <img class="tech-icon" src="../../assets/images/mysql.png"> 
    
</div>

<div class="description-container">
    <p>A movie, book, and board game connoisseur's dream! Collector's Corner started as a capstone project for LaunchCode's LiftOff program. I have enjoyed continuing to 
        refine, expand, and introduce new features to this platform with my pal <a class="rich-cite" href="https://github.com/rjsives">Rich</a>. 
    </p>
</div>

<div class="description-container">
    <p>
        Register, create your first book/movie/game collection, and you're off! Each medium has a search function to find favorites and add them to personalized 
        lists for archiving or sharing with friends. Collections from all users are centralized in a page where users can explore what others have created and 
        discover new favorites. Personalized SideNotes provide an opportunity to explain why a particular film belongs to a collection or express your love (or dislike) for it.
    </p>
</div>

<div class="slideshow-wrapper">
    <div class="slideshow-container" id="ccSlides">
        <div class="ccSlide fade">
            <a href="/../../assets/collectors-corner/movie-details.png">
                <img class="project-image" src="/../../assets/collectors-corner/movie-details.png">
            </a>
        </div>
        
        <div class="ccSlide fade">
            <a href="../../assets/collectors-corner/movie-coll-slider.png">
                <img class="project-image" src="../../assets/collectors-corner/movie-coll-slider.png">
            </a>
        </div>
        
        <div class="ccSlide fade">
            <a href="../../assets/collectors-corner/profile-page.png">
                <img class="project-image" src="../../assets/collectors-corner/profile-page.png">
            </a>
        </div>

        <div class="ccSlide fade">
            <a href="../../assets/collectors-corner/search-colls.png">
                <img class="project-image" src="../../assets/collectors-corner/search-colls.png">
            </a>
        </div>

        <div class="ccSlide fade">
            <a href="../../assets/collectors-corner/movie-search.png">
                <img class="project-image" src="../../assets/collectors-corner/movie-search.png">
            </a>
        </div>
    </div>
    <div class="arrows">
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
</div>
