<div class="navbar-desktop">
    <app-navbar></app-navbar>
</div>

<div class="container">
    <div>        
        <div id="image-container">
            <p id="open-bracket"> < </p>
            <img id="nhImage" src="../assets/images/nh.png" />
            <p id="close-bracket"> /> </p>
        </div>
        <p id="intro-paragraph">Hello, I'm Nick Hoefle. I am a Saint Louis-based web developer.</p>
        <p class="nh-bullets">UMSL Economics and LaunchCode graduate.</p>
        <p class="nh-bullets">Former maritime law paralegal.</p>
        <p class="nh-bullets">Core tech stack: Spring Boot, React, Angular, and SQL.</p>
    </div>
</div>

<router-outlet></router-outlet>

