<a class="project-info" href="https://www.freezeoutband.com">Freezeoutband.com</a>

<div class="tech-icon-container">
    <img class="tech-icon" src="../../assets/images/java.png">
    <img class="tech-icon" src="../../assets/images/sb.png">
    <img class="tech-icon" src="../../assets/images/html.png">
    <img class="tech-icon" src="../../assets/images/bootstrap.png">
    <img class="tech-icon" src="../../assets/images/mysql.png"> 
</div>

<div class="description-container">
    <p>A website developed for my band - The Freezeout Band! Publicly accessible views include a 'Listen' page with audio files recorded with a 
        digital mixer, a swipeable photo gallery, and posters for upcoming and past gigs. Band members have the ability log in and access the administrator
        portal. The portal has rich CRUD capabilities for customizing songs on the 'Listen' page, adding gigs, uploading sheet music and photos, and more.
    </p>
</div>

<div class="slideshow-wrapper">
    <div class="slideshow-container" id="freezeoutSlides">
        <div class="mySlides fade">
            <a href="/../../assets/freezeout-band/photos-page.png">
                <img class="project-image" src="../../assets/freezeout-band/photos-page.png">
            </a>
        </div>
        
        <div class="mySlides fade">
            <a href="../../assets/freezeout-band/all-songs.png">
                <img class="project-image" src="../../assets/freezeout-band/all-songs.png">
            </a>
        </div>
        
        <div class="mySlides fade">
            <a href="../../assets/freezeout-band/file-upload.png">
                <img class="project-image" src="../../assets/freezeout-band/file-upload.png">
            </a>
        </div>

        <div class="mySlides fade">
            <a href="../../assets/freezeout-band/update-listen-page.png">
                <img class="project-image" src="../../assets/freezeout-band/update-listen-page.png">
            </a>
        </div>
    </div>
    <div class="arrows">
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
</div>
