<div class="navbar-desktop">
    <app-navbar></app-navbar>
</div>
<div class="hamburger-dropdown">
    <app-hamburger-dropdown></app-hamburger-dropdown>
</div>

<h1 id="resume-header">Resume</h1>

<div id="download-icons-container">
    <a href="../../assets/resumes/NickHoefleResume.docx" download>
        <img id="word-icon" src="../../assets/images/ms-word.svg" />
    </a>
    <a href="../../assets/resumes/NickHoefleResume.pdf" download>
        <img id="pdf-icon" src="../../assets/images/pdf.svg" />
    </a>
</div>

<div id="resume-container">

    <h2 class="section-header">Education</h2>

    <div id="umsl">
        <p class="no-margin">Bachelor of Science, Economics</p>
        <div class="same-line">
            <p class="no-margin">University of Missouri-St. Louis</p>
            <p class="years">May 2015</p>       
        </div>
    </div>

    <div id="launchcode">
        <p class="no-margin">Web Development Programming Course</p>
        <div class="same-line">
            <p class="no-margin">The LaunchCode Foundation</p>
            <p class="years">May 2022 - Jan. 2023</p>       
        </div>
    </div>
    
    
    <h2 class="section-header">Work History</h2>
    <i>Freelance Legal Services</i>
    <div class="same-line">
        <p class="no-margin">Hoefle Enterprises LLC</p>
        <p class="years">May 2022 - Present</p>       
    </div>
    <ul class="bulleted-list">
        <li>Legal bookkeeping (QuickBooks, TimeSolv timekeeping, and bank account reconciliation)</li>
        <li>Paralegal tasks (e-filing, online research, medical records summaries, FOIA requests, and drafting         
            subpoenas, pleadings, and records authorizations)
        </li>
    </ul>

    <div id="middle-job">
        <i>Office Manager / Billing Clerk</i>
        <div class="same-line">
            <p class="no-margin">Boggs, Avellino, Lach & Boggs, LLC</p>
            <p class="years">Sept. 2020 –  May 2022</p>       
        </div>
        <ul class="bulleted-list">
            <li>Scheduled and participated in dozens of interviews for a variety of roles. Participated in post-interview    
                debriefs with management and onboarded new hires
            </li>
            <li>Assisted with IT tasks (MS Office 365 administration and Active Directory, server backups/updates, building  
                RFID system, and maintained dictation/transcription software, peripherals, copiers, and printers)        
            </li>
        </ul>
    </div>

    <div id="final-job">
        <i>Office Manager / Paralegal</i>
        <div class="same-line">
            <p class="no-margin">Tonkin & Mondl, L.C. & Mondl Law Firm LLC </p>
            <p class="years">May 2022 - Present</p>       
        </div>
        <ul class="bulleted-list">
            <li>Handled accounts receivable, accounts payable, and payroll. Assisted CPA with year-end tax return</li>
            <li>Facilitated communication between attorneys and clients, outside counsel, vendors, and insureds</li>
            <li>Implemented the firm’s first health insurance plan and HSA</li>
        </ul>
    </div>

    <h2 class="section-header">Skills</h2>
    <ul id="skills-list" class="bulleted-list">
        <li>Java, Spring Boot framework, MVC, Hibernate ORM, and IntelliJ IDE</li>
        <li>JavaScript, Angular, React and Visual Studio Code IDE</li>
        <li>Web application deployment with Vultr cloud servers and Linux Ubuntu OS</li>
        <li>HTML5/CSS/Tailwind CSS/Bootstrap</li>
        <li>MySQL</li>
        <li>GitHub, Trello, and Agile development principles</li>
        <li><u>In progress:</u> GraphQL, Ruby</li>
    </ul>


</div>