<div class="navbar-desktop">
    <app-navbar></app-navbar>
</div>
<div class="hamburger-dropdown">
    <app-hamburger-dropdown></app-hamburger-dropdown>
</div>

<h1 id="resume-header">Resume</h1>

<div style="display: flex; justify-content: center">
<a href="../../assets/resumes/NickHoefleResume.docx" download>
    <img src="../../assets/images/ms-word.svg" height="55px" style="padding: 8px 12px 0 0"/>
  </a>
  <a href="../../assets/resumes/NickHoefleResume.pdf" download>
    <img src="../../assets/images/pdf.svg" height="70px"/>
  </a>
</div>

<div id="resume-container">

    <h2 style="text-decoration:underline">Education</h2>
    <div style="display:flex; justify-content: space-between;">
        <p style="margin:0">Bachelor of Science, Economics</p>
        <p style="text-align:right; margin: 0; font-weight: bold;">May 2015</p>       
    </div>
    <i style="margin:0">University of Missouri-St. Louis</i>

    <div style="display:flex; justify-content: space-between; padding-top: 30px">
        <p style="margin:0">Web Development Programming Course</p>
        <p style="text-align:right; margin: 0; font-weight: bold;">May 2022 - January 2023</p>       
    </div>
    <i style="margin:0">The LaunchCode Foundation</i>
    
    <h2 style="text-decoration:underline">Work History</h2>
    <i>Freelance Legal Services</i>
    <div style="display:flex; justify-content: space-between;">
        <p style="margin:0">Hoefle Enterprises LLC</p>
        <p style="text-align:right; margin: 0; font-weight: bold;">May 2022 - Present</p>       
    </div>
    <ul style="list-style-position: inside; padding: 0 0 28px 0; margin-top: 8px">
        <li>Legal bookkeeping (QuickBooks, TimeSolv timekeeping, and bank account reconciliation)</li>
        <li>Paralegal tasks (e-filing, online research, medical records summaries, FOIA requests, and drafting         
            subpoenas, pleadings, and records authorizations)
        </li>
    </ul>

    <i>Office Manager / Billing Clerk</i>
    <div style="display:flex; justify-content: space-between;">
        <p style="margin:0">Boggs, Avellino, Lach & Boggs, LLC Law Firm</p>
        <p style="text-align:right; margin: 0; font-weight: bold;">September 2020 –  May 2022</p>       
    </div>
    <ul style="list-style-position: inside; padding: 0 0 28px 0; margin-top: 8px">
        <li>Scheduled and participated in dozens of interviews for a variety of roles. Participated in post-interview    
            debriefs with management and onboarded new hires
        </li>
        <li>Assisted with IT tasks (MS Office 365 administration and Active Directory, server backups/updates, building  
            RFID system, and maintained dictation/transcription software, peripherals, copiers, and printers)        
        </li>
    </ul>

    <i>Office Manager / Paralegal</i>
    <div style="display:flex; justify-content: space-between;">
        <p style="margin:0">Tonkin & Mondl, L.C. and Mondl Law Firm LLC </p>
        <p style="text-align:right; margin: 0; font-weight: bold;">May 2022 - Present</p>       
    </div>
    <ul style="list-style-position: inside; padding: 0 0 24px 0; margin-top: 8px">
        <li>Handled accounts receivable, accounts payable, and payroll. Assisted CPA with year-end tax return</li>
        <li>Facilitated communication between attorneys and clients, outside counsel, vendors, and insureds</li>
        <li>Implemented the firm’s first health insurance plan and HSA</li>
    </ul>

    <h2 style="text-decoration:underline">Skills</h2>
    <ul style="list-style-position: inside; padding: 0 0 32px 0; margin-top: 8px">
        <li>Java, Spring Boot framework, MVC, Hibernate ORM, and IntelliJ IDE</li>
        <li>JavaScript, Angular, React and Visual Studio Code IDE</li>
        <li>Web application deployment with Vultr cloud servers and Linux Ubuntu OS</li>
        <li>HTML5/CSS/Tailwind CSS/Bootstrap</li>
        <li>MySQL</li>
        <li>GitHub, Trello, and Agile development principles</li>
        <li><u>In progress:</u> GraphQL, Ruby</li>
    </ul>


</div>