<a class="project-info" href="http://nickhoefle.com/ozarks">Ozarks GIS</a>

<div class="tech-icon-container">
    <img class="tech-icon" src="../../assets/images/qgis.png">
</div>

<div class="description-container">
    <p>I am a real estate junkie and decided to create this map to keep my GIS software skills sharp. Developed with QGIS, deployed with OpenLayers, and customized with
        JavaScript/CSS/HTML, this webmap can be used to track waterfront property at luxurious Lake Ozark, Missouri. The project utilizes OpenStreetMap for a base layer,
        latitude/longitude points for restaurants and areas of interest, and shapefiles for population data.
    </p>
</div>

<div class="slideshow-wrapper">
    <div class="slideshow-container" id="ozarksSlides">
        <div class="ozarksSlide fade">
            <a href="../../assets/ozarks/homes.png">
                <img class="project-image" src="../../assets/ozarks/homes.png">
            </a>
        </div>
        
        <div class="ozarksSlide fade">
            <a href="../../assets/ozarks/homes-and-restaurants.png">
                <img class="project-image" src="../../assets/ozarks/homes-and-restaurants.png">
            </a>
        </div>
        
        <div class="ozarksSlide fade">
            <a href="../../assets/ozarks/homes-and-restaurants2.png">
                <img class="project-image" src="../../assets/ozarks/homes-and-restaurants2.png">
            </a>
        </div>

        <div class="ozarksSlide fade">
            <a href="../../assets/ozarks/pop-dens.png">
                <img class="project-image" src="../../assets/ozarks/pop-dens.png">
            </a>
        </div>
    </div>
    <div class="arrows">
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
</div>

