@import '~swiper/swiper-bundle.css';

body {
    background-image: url('./assets/images/black-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


h1, p, li {
    font-family: Century Gothic;
    color: white;
}



