@import '~swiper/swiper-bundle.css';

body {
    background-color: black;
}

h1, p, li {
    font-family: Century Gothic;
    color: white;
}

@media only screen and (max-width: 480px) {
    .navbar-desktop {
        display: none;
    }

    .tech-icon {
        height: 60px;
    }
}



